.table-success-stripped {
  background: repeating-linear-gradient(
    135deg,
    #d1e7dd,
    #d1e7dd 10px,
    transparent 10px,
    transparent 20px
  );
}

.btn-outline-purple {
  --bs-btn-color: #005187;
  --bs-btn-border-color: #005187;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #005187;
  --bs-btn-hover-border-color: #005187;
  --bs-btn-focus-shadow-rgb: 25,135,84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #005187;
  --bs-btn-active-border-color: #005187;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #005187;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #005187;
  --bs-gradient: none;
}
.text-purple {
  color: #005187 !important;
}
.btn-rounded-purple {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  --bs-btn-color: #005187;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #005187;
  --bs-btn-hover-border-color: #005187;
  --bs-btn-focus-shadow-rgb: 25,135,84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #005187;
  --bs-btn-active-border-color: #005187;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #005187;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #005187;
  --bs-gradient: none;
  transition: width 0.3s;
  text-align: center;
}
.btn-rounded-purple:hover {
  width: 105px;
}
.btn-rounded-purple:hover span ::after {
  display: inline;
}
.btn-rounded-purple span ::after {
  display: none;
}
.btn-rounded-purple span span {
  font-size: 16px;
}
.oj-pattern-background {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  background: url("/pattern-light.svg");
}
.list-group-item-transparent {
  background: transparent;
}
.clickable-card {
  height: 120px;
  background-color: #f8f9fa;
  transition: box-shadow 0.3s, background-color 0.3s;
}
.clickable-card:hover {
  background-color: #eff0f1;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05) !important;
}
.page-title {
  font-size: x-large;
}
.vertical-separator-logout {
  height: 100px;
  width: 2px;
  background-color: #005187;
}
.pagination-purple {
  --bs-pagination-padding-x: .75rem;
  --bs-pagination-padding-y: .375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: #005187;
  --bs-pagination-bg: #fff;
  --bs-pagination-border-width: 1px;
  --bs-pagination-border-color: #dee2e6;
  --bs-pagination-border-radius: .375rem;
  --bs-pagination-hover-color: #004980;
  --bs-pagination-hover-bg: #e9ecef;
  --bs-pagination-hover-border-color: #dee2e6;
  --bs-pagination-focus-color: #004980;
  --bs-pagination-focus-bg: #e9ecef;
  --bs-pagination-focus-box-shadow: 0 0 0 .25rem rgba(0, 49, 80, .25);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #005187;
  --bs-pagination-active-border-color: #005187;
  --bs-pagination-disabled-color: #6c757d;
  --bs-pagination-disabled-bg: #fff;
  --bs-pagination-disabled-border-color: #dee2e6;
  list-style: none;
}
